################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Cate/bin/Debug/netcoreapp3.1
/Cate/obj
/Cate80/.vs/Cate80/v16
/Cate80/bin/Debug/netcoreapp3.1
/Cate80/obj
/Cate80/Properties/launchSettings.json
/Language/bin/Debug/netcoreapp3.1
/Language/obj
/Cate/bin/Release/netcoreapp3.1
/Cate/Properties/launchSettings.json
/Cate68/.vs/Cate68
/Cate68/bin
/Cate68/obj
/Cate68/Properties/PublishProfiles
/Cate68/Properties/launchSettings.json
/Cate80/.vs/Cate80/DesignTimeBuild
/Cate80/bin/Release/netcoreapp3.1
/Cate80/Properties/PublishProfiles
/Language/bin/Release/netcoreapp3.1
/Cate09/.vs/Cate09/v16
/Cate09/bin
/Cate09/obj
/Cate09/Properties/PublishProfiles
/Cate09/Properties/launchSettings.json
/Cate65/.vs/Cate65/v16
/Cate65/bin
/Cate65/obj
/Cate65/Properties
/Cate09/.vs/Cate09/DesignTimeBuild
/Cate65/.vs/Cate65/DesignTimeBuild
/Cate09/.vs/Cate09/v17
/Cate80/.vs/Cate80
/Cate99/.vs/Cate99
/manuals/~WRL0005.tmp
/manuals/~$cate.docx
/Cate99/Cate99.sln
ini.bat
.suo
*.obj
*.lst
*.lib
*.pdf
/.vscode
/Cate09/.vs
/Cate65/.vs
/Cate68/.vs/ProjectEvaluation
/Cate80/.vs/ProjectEvaluation
/Cate86/.vs
/Cate86/bin
/Cate86/obj
/Cate86/Properties/PublishProfiles
/Cate99/.vs/ProjectEvaluation
/Cate86/Cate86.csproj.user
/Cate99/bin
/Cate99/obj
/Cate99/Properties/PublishProfiles
/runtime/8086/.vscode
/build_cate.bat
/Cate80i/.vs
/Cate80i/bin
/Cate80i/obj
/Cate80i/Properties
/runtime/8080/.vscode
/Cate87/.vs
/Cate87/bin
/Cate87/obj
/Cate87/Properties
/Cate80/.vs/Cate80/v17/.suo
/Cate99/Cate99.csproj.user
/Cate80i/Cate80i.csproj.user
/Cate87/Cate87.csproj.user
Cate86/Properties/launchSettings.json
/Cate99/Properties/launchSettings.json
/Cate/bin/Debug/net6.0
/Cate62/.vs/Cate62/FileContentIndex
/Cate62/bin/Debug/net6.0
/Cate62/obj
/Language/bin/Debug/net6.0
/Cate62/.vs/Cate62/DesignTimeBuild
/Cate62/.vs
/Cate80/bin/Debug/net6.0
/Cate/bin/Release/net6.0
/Cate80/bin/Release/net6.0
/Language/bin/Release/net6.0
*.url
runtime/SC62015/c.bat
/Cate62/bin/Release/net6.0
/Cate/Properties/PublishProfiles
/Cate62/Properties/PublishProfiles
/Cate62/Properties
/Language/Properties/PublishProfiles
/Cate61h/.vs/Cate61h
/Cate61h/bin/Debug/net6.0
/Cate61h/obj
/Cate61h/bin/Release/net6.0
/Cate61h/Properties/PublishProfiles
*.json
/Cate61h/.vs/ProjectEvaluation
/Cate61h/Cate61h.csproj.user
/Cate61s/.vs/Cate61s
/Cate61s/bin
/Cate61s/obj
/runtime/SC61860/_objects.txt
/runtime/SC61860/_sources.txt
/Cate83/.vs/Cate83
/Cate83/bin
/Cate83/obj
/Cate83/Properties/PublishProfiles
*.bat
/Cate61s/.vs/ProjectEvaluation
/Cate83/.vs/ProjectEvaluation
/Cate85/.vs/Cate85/FileContentIndex
/Cate85/obj
/Cate85/.vs/Cate85/DesignTimeBuild
/Cate85/bin
/Cate85/Properties/PublishProfiles
/Cate85/.vs/ProjectEvaluation/cate85.metadata.v9.bin
/Cate85/.vs/ProjectEvaluation/cate85.projects.v9.bin
/Cate85/.vs/ProjectEvaluation/cate85.strings.v9.bin
/Cate80/bin
/Language/bin/Debug/net8.0/Language.dll
/Language/bin/Debug/net8.0/Language.pdb
/Language/bin/Release/net8.0/Language.dll
/Language/bin/Release/net8.0/Language.pdb
/Cate/bin
/Cate61h/bin
/Cate85/.vs/Cate85/v17/.futdcache.v2
/Cate62/bin/Release/net8.0
/Language/bin/Release/net8.0/publish
/Cate85/.vs
/Cate61s/Cate61s.sln
/Cate61s/Properties/PublishProfiles/FolderProfile.pubxml.user
/Cate816/.vs/Cate816/FileContentIndex
/Cate816/bin/Debug/net8.0/Cate.dll
/Cate816/bin/Debug/net8.0/Cate.pdb
/Cate816/bin/Debug/net8.0/Cate816.dll
/Cate816/bin/Debug/net8.0/Cate816.exe
/Cate816/bin/Debug/net8.0/Cate816.pdb
/Cate816/bin/Debug/net8.0/Language.dll
/Cate816/bin/Debug/net8.0/Language.pdb
/Cate816/bin/Release/net8.0/win-x64/Cate.dll
/Cate816/bin/Release/net8.0/win-x64/Cate.pdb
/Cate816/bin/Release/net8.0/win-x64/Cate816.dll
/Cate816/bin/Release/net8.0/win-x64/Cate816.exe
/Cate816/bin/Release/net8.0/win-x64/Cate816.pdb
/Cate816/bin/Release/net8.0/win-x64/Language.dll
/Cate816/bin/Release/net8.0/win-x64/Language.pdb
/Cate816/bin/Release/net8.0/Cate.dll
/Cate816/bin/Release/net8.0/Cate.pdb
/Cate816/bin/Release/net8.0/Cate816.dll
/Cate816/bin/Release/net8.0/Cate816.exe
/Cate816/bin/Release/net8.0/Cate816.pdb
/Cate816/bin/Release/net8.0/Language.dll
/Cate816/bin/Release/net8.0/Language.pdb
/Cate816/obj/Debug/net8.0/ref/Cate816.dll
/Cate816/obj/Debug/net8.0/refint/Cate816.dll
/Cate816/obj/Debug/net8.0/apphost.exe
/Cate816/obj/Debug/net8.0/Cate816.AssemblyInfo.cs
/Cate816/obj/Debug/net8.0/Cate816.AssemblyInfoInputs.cache
/Cate816/obj/Debug/net8.0/Cate816.csproj.AssemblyReference.cache
/Cate816/obj/Debug/net8.0/Cate816.dll
/Cate816/obj/Debug/net8.0/Cate816.pdb
/Cate816/obj/Release/net8.0/ref/Cate816.dll
/Cate816/obj/Release/net8.0/refint/Cate816.dll
/Cate816/obj/Release/net8.0/win-x64/ref/Cate816.dll
/Cate816/obj/Release/net8.0/win-x64/refint/Cate816.dll
/Cate816/obj/Release/net8.0/win-x64/apphost.exe
/Cate816/obj/Release/net8.0/win-x64/Cate816.AssemblyInfo.cs
/Cate816/obj/Release/net8.0/win-x64/Cate816.AssemblyInfoInputs.cache
/Cate816/obj/Release/net8.0/win-x64/Cate816.csproj.AssemblyReference.cache
/Cate816/obj/Release/net8.0/win-x64/Cate816.dll
/Cate816/obj/Release/net8.0/win-x64/Cate816.pdb
/Cate816/obj/Release/net8.0/apphost.exe
/Cate816/obj/Release/net8.0/Cate816.AssemblyInfo.cs
/Cate816/obj/Release/net8.0/Cate816.AssemblyInfoInputs.cache
/Cate816/obj/Release/net8.0/Cate816.csproj.AssemblyReference.cache
/Cate816/obj/Release/net8.0/Cate816.dll
/Cate816/obj/Release/net8.0/Cate816.pdb
/Cate816/Properties/PublishProfiles/FolderProfile.pubxml.user
/Cate816/.vs/Cate816/DesignTimeBuild/.dtbcache.v2
/Cate816/bin/Debug/net8.0/win-x64
/Cate816/obj/Debug/net8.0/win-x64
/Cate816/obj/Debug/net8.0/Cate816.csproj.CoreCompileInputs.cache
/Cate62/bin/Debug/net8.0
/Cate816/.vs/Cate816/v17/.futdcache.v2
/Cate816/.vs/ProjectEvaluation/cate816.metadata.v9.bin
/Cate816/.vs/ProjectEvaluation/cate816.projects.v9.bin
/Language/Binary.cs.bak
/Language/Arguments.cs.bak
Cate816/obj/Release/net8.0/win-x64/Cate816.genpublishdeps.cache
Cate816/obj/Release/net8.0/win-x64/Cate816.csproj.FileListAbsolute.txt
Cate816/obj/Release/net8.0/win-x64/Cate816.GeneratedMSBuildEditorConfig.editorconfig
Cate816/obj/Debug/net8.0/Cate816.GeneratedMSBuildEditorConfig.editorconfig
Cate816/obj/Release/net8.0/win-x64/Cate816.genruntimeconfig.cache
Cate816/obj/Release/net8.0/win-x64/Cate816.assets.cache
Cate816/obj/project.nuget.cache
Cate816/obj/Release/net8.0/win-x64/Cate816.genbundle.cache
Cate816/Properties/PublishProfiles/FolderProfile.pubxml
Cate816/obj/Release/net8.0/win-x64/PublishOutputs.28588e266c.txt
Cate816/obj/Debug/net8.0/Cate816.assets.cache
Cate816/obj/Release/net8.0/win-x64/Cate816.csproj.CoreCompileInputs.cache
