################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Cate/bin/Debug/netcoreapp3.1
/Cate/obj
/Cate80/.vs/Cate80/v16
/Cate80/bin/Debug/netcoreapp3.1
/Cate80/obj
/Cate80/Properties/launchSettings.json
/Language/bin/Debug/netcoreapp3.1
/Language/obj
/Cate/bin/Release/netcoreapp3.1
/Cate/Properties/launchSettings.json
/Cate68/.vs/Cate68
/Cate68/bin
/Cate68/obj
/Cate68/Properties/PublishProfiles
/Cate68/Properties/launchSettings.json
/Cate80/.vs/Cate80/DesignTimeBuild
/Cate80/bin/Release/netcoreapp3.1
/Cate80/Properties/PublishProfiles
/Language/bin/Release/netcoreapp3.1
/Cate09/.vs/Cate09/v16
/Cate09/bin
/Cate09/obj
/Cate09/Properties/PublishProfiles
/Cate09/Properties/launchSettings.json
/Cate65/.vs/Cate65/v16
/Cate65/bin
/Cate65/obj
/Cate65/Properties
/Cate09/.vs/Cate09/DesignTimeBuild
/Cate65/.vs/Cate65/DesignTimeBuild
/Cate09/.vs/Cate09/v17
/Cate80/.vs/Cate80
/Cate99/.vs/Cate99
/manuals/~WRL0005.tmp
/manuals/~$cate.docx
/Cate99/Cate99.sln
ini.bat
.suo
*.obj
*.lst
*.lib
*.pdf
/.vscode
/Cate09/.vs
/Cate65/.vs
/Cate68/.vs/ProjectEvaluation
/Cate80/.vs/ProjectEvaluation
/Cate86/.vs
/Cate86/bin
/Cate86/obj
/Cate86/Properties/PublishProfiles
/Cate99/.vs/ProjectEvaluation
/Cate86/Cate86.csproj.user
/Cate99/bin
/Cate99/obj
/Cate99/Properties/PublishProfiles
/runtime/8086/.vscode
/build_cate.bat
/Cate80i/.vs
/Cate80i/bin
/Cate80i/obj
/Cate80i/Properties
/runtime/8080/.vscode
/Cate87/.vs
/Cate87/bin
/Cate87/obj
/Cate87/Properties
/Cate80/.vs/Cate80/v17/.suo
/Cate99/Cate99.csproj.user
/Cate80i/Cate80i.csproj.user
/Cate87/Cate87.csproj.user
Cate86/Properties/launchSettings.json
